#container {
	background-color: blue;
	position: fixed;
	align-self: center;
	margin-left: 30%;
	height: 60vh;
	width: 40vw;
	padding: 2%;
}

div .screen-wrapper {
	background-color: grey;
	padding: 1px;
	text-align: right;
	padding-right: 5%;
}

div .row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

div .c-button {
	font-size: larger;
	width: 5rem;
	text-align: center;
	padding: 5vh;
	margin: 1%;
}

div .c-button:hover {
	background-color: black;
	opacity: 50%;
}